version: "3.7"

services:
    mysql:
        image: mysql:latest
        ports:
            - 3307:3306
        environment: 
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: practice
        container_name: mysql
    
    redis:
        image: redis
        ports:
            - 7001:6379
        environment: 
            REDIS_ROOT_PASSWORD:
            REDIS_DATABASE: 0
        container_name: redis

    app:
        build:
            context: .
            dockerfile: Dockerfile
        depends_on:
            - mysql
            - redis
        ports:
            - 8080:8080
        restart: always
        container_name: app

